@use '../utils/' as u;

.info {
	text-align: center;
	color: #fff;

	h1 {
		font-family: u.$ff-poppins;
		font-size: 3rem;
		font-weight: u.$fw-600;

		@media screen and (min-width: 1200px) {
			font-size: 2.5rem;
			max-width: 100%;
		}
	}

	p {
		font-family: u.$ff-open-sans;
		font-size: 2rem;
		font-weight: u.$fw-400;

		@media screen and (min-width: 1200px) {
			font-size: 1rem;
			padding-right: 1.5em;
		}
	}
}
