@use '../utils/' as u;

.icons {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.75em;

	@media screen and (min-width: 1200px) {
		justify-content: end;
		padding-right: 4em;
		gap: 1em;
	}
}
.fa-brands {
	color: #fff;
	font-size: 1.5rem;
	border: 2px solid #fff;
	border-radius: 50%;
	padding: 0.5em;
	cursor: pointer;

	&:hover {
		color: u.$soft-magenta;
		border: 2px solid u.$soft-magenta;
	}
}
